body {
    background-color: #cee0f5;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.form-subtitle {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #333333;
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#button {
    font-weight: bold;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #172317;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#button:hover {
    background-color: #45a049;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#button:active {
    filter: brightness(0.7);
    box-shadow: 0 1px #666;
    transform: translateY(3px);
    transition-duration: 5ms;
}